@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --color1: #06527e;
  --color2: #f4a259;
  --color2: #890620;
  --color2: #a28497;
  --color2: #dff3e4;
}
body {
  font-family: Roboto;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.Home {
  text-align: center;
  background: var(--color1);
  height: 100vh;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation-image {
  width: 22%;
}
